{% extends 'base.html' %}

{% block contenido_title %}
        <title>Cursos</title>
{% endblock  %}
{% block contenido_header %}
        <h1 class="mb-5">Bienvenido a los Cursos</h1>
{% endblock contenido_header %}

{% block contenido %}
        {% if object_list %}
                {% for curso in object_list %}
                        <li>
                                <a class="navbar-brand" href={% url 'mostrar_cursos' curso.id %}>{{curso.comision}} - {{curso.lenguaje}}</a>
                                <button>
                                        <a class="navbar-brand" href={% url 'modificar_cursos' curso.id %}>Modificar</a>
                                </button>
                                <button>
                                        <a class="navbar-brand" href={% url 'eliminar_cursos' curso.id %}>Eliminar</a>
                                </button>
                        </li>
                {% endfor %}
        {% else %}
                <h2>No hay datos sobre cursos por el momento.</h2>
        {% endif %}
        <a class="navbar-brand" href={% url 'crear_cursos' %}>Crear Cursos</a>
{% endblock contenido %}